.Necklace{
    background-color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .product-item p {
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .add-to-cart {
    background-color: #e6b800;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
  }